<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script rel="stylesheet" href="/styles/layout.css"></script>
</head>

<body>
  <!-- <h1>Have fun! 🥔</h1> -->

  <body>
    <div class="main-title-container">
      <h1 class="main-title">Things To Do</h1>
    </div>
   <br />
   <br />
    <div class="box1-outer">
      <div class="box1">
        <h2 class="title1">Things To Read</h2>
          <div class="list1">
            <ol>
              <li>Counsels and Maxims</li>
              <li>Critique of Pure Reason</li>
              <li>Elements of the Philosophy of Right</li>
              <li>Republic</li>
              <li>The Parallax View</li>
            </ol>
          </div>
        <div class="">
          
        </div>
      </div>
      <br />
      <div class="box1">
        <h2 class="title1">Things to Watch</h2>
          <div class="list1">
            <ol>
              <li>The Lighthouse</li>
              <li>Brooklyn Nine-Nine</li>
              <li>Seinfeld</li>
              <li>Jarhead</li>
              <li>Us</li>
            </ol>
          </div>
      </div>
      <br />
      <div class="box1">
        <h2 class="title1">Things to Eat</h2>
          <div class="list1">
            <ol>
              <li>Jumbo Donair</li>
              <li>Spaghetti Pie</li>
              <li>Nachos</li>
              <li>Kraft Dinner</li>
              <li>Sushi</li>
            </ol>
          </div>
      </div>
    </div>
  </body>
</body>

</html>