<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="styles/alt1.css">
  </head>
  <body>
	  <script src="views/index.ejs"></script>

    <body>
      <h3>Welcome to /T A S K A P P/ </h3>
      <br>
      <a href="/api/login/">
        <button>Login</button>
      </a>
      <br>
      <a href="/api/login/register">
        <button>Register</button>
      </a>
      <br>
    </body>
  </body>
</html>