<!-- doing this with jquery actually -->

<!-- <div>
  <h1>LOGIN</h1>
  <form method="login">
    <label for="user-login">Email: </label>
    <input type="email" name="login-email">
    <hr />
    <label for="password-login">Password: </label>
    <input class="form-control" type="password">
    <button type="submit">LOGIN</button>
  </form>
</div> -->