<!DOCTYPE html>
<html lang="en">
  <head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="styles/alt1.css">
  </head>
</head>
  <body>
	  <script src="views/index.ejs"></script>

    <body>
      <h3>This is the L O G I N   P A G E </h3>
      <h3>Welcome to /T A S K A P P/ </h3>
      <br>
      <!-- <a href="/api/login/"> -->
      <a href="/">
        <button>Home</button>
      </a>
      <br>
      <a href="/api/login/register">
        <!-- <a href="/api/login/authentication" -->
        <button>Register</button>
      </a>
      <br> 
    </body>
      <br>

      <div>
        <h3>Login</h3>
        <form method="POST" action="login">
          <label for="user-email">Email: </label>
          <input class="form-control" type="email" name="user-email" style="width: 500px">
          <hr />
          <label for="password">Password: </label>
          <input class="form-control" type="password" name="login-pass" style="width: 500px">
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
  </body>
</html>