<!DOCTYPE html>
<html lang="en">
  <head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="styles/alt1.css">
  </head>
</head>

  <body>
	  <script src="views/index.ejs"></script>

    <body>

      <h3>This is the R E G I S T E R  P A G E </h3>
      <br>
      <a href="/">
        <button>Home</button>
      </a>
      <a href="/api/login/">
        <button>Login</button>
      </a>
      <br> 
    </body>

      <div>
        <h3>Register</h3>
        <form method="POST" action="/register">
          <label for="new-user">Email: </label>
          <input type="email" name="new-user">
          <label for="new-password">Password: </label>
          <input type="password" name="new-pass">
          <button type="submit">SUBMIT</button>
        </form>
      </div>
  
  </body>
</html> 