* {
  background-color: gray;
}

body {
  display: flex;
  flex-direction: row;
}

.arrow-left {
  
}

.outside-container {
  display: flex;
/*   align-items: center; */
/*   justify-content: flex-start; */
}

.calendar-container {
  background-color: white;
}

.top-section {
  background-color: white;
}

.months {
/*   display: grid;
  grid-template-columns: repeat(12, 1fr); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#dates-container {
  background: white;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 5px solid black;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date {
  border: 2px solid black;
  background-color: white;
}

.date-button {
  border: 3px outset;
}

.day {
  border: 2px solid black;
}

.month {
  border: 2px solid black;
}

.top-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
};

.red-block {
  color: red;
  border: 5px red;
}

.date-schedule-container {
  height: 500px;
  width: 500px;
  border: 5px solid black;
  
}

.date-schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  
}

.day-date {
  
}

.day-hour {
  
}

.month-previous {
  
}

.month-next {
  
}