* {
  background-color: gray;
}

.outside-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  background-color: white;
}

.top-section {
  background-color: white;
}

.months {
/*   display: grid;
  grid-template-columns: repeat(12, 1fr); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#dates-container {
  background: white;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 5px solid black;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date {
  border: 2px solid black;
  background-color: white;
}

.day {
  border: 2px solid black;
}

.month {
  border: 2px solid black;
}

.top-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
};

.red-block {
  color: red;
  border: 5px red;
}