body {
  background-color: #291d89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title-container {
  color: white;
  border: 5px outset white;
  padding: 1vw;
  margin: 1%;
}

.main-title-container:hover {
  border-color: orange;
}

.main-title {
  color: white;
}

.box1 {
  border: 5px outset white;
  border-radius: 2%;
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.box1:hover {
  background-color: #3321bf;
}

.title1 {
  color: white;
  align-self: center;
  padding: 5px;
}

.title1:hover {
/*   background-color: #3321bf; */
  border: 5px outset orange;
  
}

.list1 {
  width: 90%;
  margin: 1%;
  padding: 2%;
}

.list1:hover {
  background-color: orange;
  border: 5px outset orange;
  
}